.container {
}

.main {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #131522;
}

.title h1 {
  text-align: right;
  font-weight: 500;
  font-size: 8em;
  color: rgb(226, 226, 226);
  justify-content: right;
}

.title p {
  font-weight: 200;
  font-size: 2em;
  color: rgb(171, 171, 171);
  justify-content: right;
  text-align: right;
}

.title {
  max-width: 89ch;
  flex: 1;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  margin: 2.5em 7.5em;
  margin-right: 5vw;
}

.buttons {
  align-self: center;
  flex-direction: column;
}
