.container {
  background-color: #131522;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  width: auto;
}

.container h1 {
  font-size: 4em;
}

/* @media screen and (max-aspect-ratio: 1/1) {
  
} */
